.app-container {
  background-image: url('../src/assets/fondo.png'); /* ruta correcta desde styles */
  background-size: cover;   /* cubre todo el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
