.hero-overlay {
  width: 100%;
  height: fit-content; /* sigue siendo hero alto */
  display: flex;
  flex-direction: column; /* vertical */
  justify-content: center;
  align-items: center;
  gap: 1rem; /* espacio entre icono y texto */
  box-sizing: border-box;
}

.hero-icon {
  width: 200px; /* ajustable, no más de la mitad del hero */
  max-width: 80%; /* responsive */
}

.hero-lema {
  color: rgb(255, 243, 238);
  font-size: 1.5rem;
  font-weight: 500;
  word-wrap: break-word;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 2rem;
}