.navbar-container { 
  background: linear-gradient(
    rgba(126, 126, 126, 0.39),
    rgba(0, 0, 0, 0)
  );
  transition: background 0.3s ease;
  padding: 1rem 0;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 3.4rem;
  color: #f4e9dc;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
