.navbar-container {
  padding: 1rem 0;
}

.navbar-title {
  font-size: 2rem;
  letter-spacing: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  padding-left: 5px;
}

.ig-icon {
  color: white;
  transition: transform 0.4s ease, color 0.4s ease;
  filter: brightness(0) invert(1);
}

/* Colores gradiente “Instagram” (truco usando drop-shadow) */
.ig-icon:hover {
  transform: rotate(360deg) scale(1.15);
  filter: none;
}

